<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
 <a href="/signup">Create new account</a>
<h2>Login System</h2>
 {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/login" method="POST">

    <input type="text" name="username" placeholder="Enter Username" required><br>

    <input type="password" name="password" placeholder="Enter Password" required><br>

    <button type="submit">Login</button>

    <input type="checkbox" name="remember"> Remember Me
</div>

{% endblock %}
</form>

</body>
</html>
